@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



.result-wait-text {
    color: white;
    align-self: center;
    justify-self: center;
}

.result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.infobox {
    width: 750px;
    height: 200px;
    border-radius: 30px;
    background-color: #1a1a5d;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-thumbnail {
    grid-column: 1/ span 1;
}

.info-details {
    grid-column: 2/ span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #6666A3;
}

.result-heading-text {
    font-family: Outfit;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.result-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px 30px;
}

.result-srt {
    grid-column: 1/ span 1;
}

.result-graphic {
    grid-column: 2/ span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-txt {
    grid-column: 3/ span 1;
}

.copy-button {
    border-radius: 30px;
    width: 300px;
    height: 50px;
    background: #D9D9D9;
    color: #8080D7;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-res {
    width: 365px;
    height: 272px;
    top: 609px;
    left: 122px;
    border-radius: 25px;
    background: #6666A380;
    padding: 20px;
}

.result-text {
    font-family: Outfit;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #A7A7E8;
}