@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.about {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#010232, #00010A);
    overflow-x: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    transition: all ease;
}

#c1 {
    width: 54px;
    height: 54px;
    top: 40%;
    left: 30%;
    background: #8AD0DF;
}

#c2 {
    width: 37px;
    height: 37px;
    top: 30%;
    left: 40%;
    background: #0075FF;
}

#c3 {
    width: 72px;
    height: 72px;
    top: 10%;
    left: 70%;
    background: #8080D7;
}

#c4 {
    width: 107px;
    height: 107px;
    top: 70%;
    left: 60%;
    background: #FFFFFF;
}

#c5 {
    width: 21px;
    height: 21px;
    top: 90%;
    left: 50%;
    background: #8AD0DF;
}

#c6 {
    width: 54px;
    height: 54px;
    top: 55%;
    left: 75%;
    background: #D9D9D9;
}

#c7 {
    width: 29px;
    height: 29px;
    top: 20%;
    left: 5%;
    background: #AAD9D9;
}

#c8 {
    width: 23px;
    height: 23px;
    top: 60%;
    left: 20%;
    background: #9747FF;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.about-text p {
    margin: 0;
    padding: 0;
    font-size: 80px;
}

.magic {
    display: inline-block;
    position: relative;
}

.magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);

    animation: scale 700ms ease forwards;
}

@keyframes scale {

    from,
    to {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.magic-star>svg {
    display: block;
    opacity: 0.3;

    animation: rotate 1000ms linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.magic-star>svg>path {
    fill: #FF00FF;
}

.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, #FF00FF, #8A2BE2, #FF1493, #FF00FF);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}