@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.about {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#010232, #00010A);
    overflow-x: hidden;
}

.circle {
    border-radius: 50%;
}

#c1 {
    height: 30px;
    width: 30px;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-text p {
    margin: 0;
    padding: 0;
}

.magic{
    display: inline-block;
    position: relative;
}

.magic-star{
    --size: clamp(20px,1.5vw,30px);

    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);

    animation: scale 700ms ease forwards;
}

@keyframes scale{
    from,to{
        transform: scale(0);
    }

    50%{
        transform: scale(1);
    }
}

.magic-star > svg{
    display: block;
    opacity: 0.3;

    animation: rotate 1000ms linear infinite;
}

@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
}

.magic-star > svg > path{
    fill: #FF00FF;
}

.magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, #FF00FF, #8A2BE2, #FF1493, #FF00FF);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}